body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: medium;
    margin: 50px;
}
input, button{
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}
